CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_CIFS=m
CONFIG_USB_OTG=y
CONFIG_CGROUPS=y
CONFIG_AUTOFS4_FS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DEVPTS_FS=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_RNDIS=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_SCHED_TUNE=y
CONFIG_CGROUP_SCHEDTUNE=y
CONFIG_VT=y
CONFIG_CMDLINE="console=tty0 console=ttyMT3,921600n1 root=/dev/ram vmalloc=496M slub_max_order=0 break=bottom telnet "

