CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_CIFS=m
CONFIG_USB_OTG=y
CONFIG_CGROUPS=y
CONFIG_AUTOFS4_FS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_DEVPTS_FS=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_RNDIS=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_VT=y

# Must be enabled, otherwise the kernel would not compile
CONFIG_SCHED_TUNE=y
CONFIG_CGROUP_SCHEDTUNE=y

# Kernel cmdline
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE=y
CONFIG_CMDLINE="console=tty0 root=/dev/ram vmalloc=496M slub_max_order=0 droidian.lvm.prefer cgroup_disable=schedtune"
CONFIG_CMDLINE_EXTEND=y

# Necessary for loading drivers
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_MODULE_SIG=n
CONFIG_MODULE_COMPRESS=n
CONFIG_TRIM_UNUSED_KSYSM=n
